.App {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

input {
  margin-left: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
  font-size: 10px;
  display: none;
}
.index-indicator {
  display: inherit !important;
}

button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 10px;
}

button:hover {
  background-color: #45a049;
}

img {
  display: block;
  margin-top: 20px;
  max-width: 100%;
  position: relative; /* Ajout pour positionner le bouton de manière absolue par rapport à l'image */
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

.columns-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 95vw;
}

.input-row .column {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.facet-number {
  width: 25px;
}

.degree-number {
  width: 50px;
}

.remove-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 12px;
  margin-bottom: 10px !important;
}

.remove-button:hover {
  background-color: #d32f2f;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-buttons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 74%;
  margin-top: 1em;
}
.index-inputs-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
  width: 100%;
}

.index-input label {
  margin-right: 5px;
}
.index-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.remove-image-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.remove-image-button:hover {
  background-color: #d32f2f;
}

.file-input-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
